## Setting up and reading data

In [70]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
#import seaborn
from sklearn import naive_bayes
from sklearn import svm
from sklearn.cross_validation import train_test_split
from pandas.tools.plotting import scatter_matrix
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import BaggingClassifier
from IPython.display import clear_output
import csv
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import geopandas as gpd
%matplotlib inline
import csv
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn import naive_bayes
from sklearn import svm
from sklearn.cross_validation import train_test_split
from sklearn import cluster
#pd.options.display.max_rows = 999
#pd.set_option('display.max_rows', 500)
#pd.set_option('display.expand_frame_repr', False)
from IPython.display import display
pd.options.display.max_columns = None
import seaborn as sns
from sklearn.cluster import SpectralClustering
from sklearn.cluster import KMeans
from sklearn.cluster import AgglomerativeClustering
from sklearn.neighbors import NearestNeighbors
import time
%matplotlib inline

In [71]:
df = gpd.GeoDataFrame.from_file('Data/jp-lustered.geojson')

In [74]:
df.head(3)

,Entire_home/apt,Median_income,Median_rent,Private_room,Shared_room,accesstosubway,agglomerative,agglomerativeCat,availability_365,beer_count,boro_ct_2010,calculated_host_listings_count,coffee_count,connectivityScore,geometry,host_id,host_name,id,index_left,kmeans,kmeansCat,last_review,latitude,longitude,minimum_nights,name,neighbourhood,neighbourhood_group,number_of_reviews,price,reviews_per_month,room_type,spectral,spectralCat
0,0,21855.0,1287.0,1,0,8.368050,2,2,242,0,2002400,10,0,0.0,POINT (-73.86406089014145 40.81274651012037),525710,Libby,14880182,1.0,1,1,2017-02-08,40.812747,-73.864061,2,Community Living in the Heart & Soul of NYC (3C),Clason Point,Bronx,9,59,1.53,Private room,2,2
1,0,21855.0,1287.0,1,0,8.380864,2,2,365,0,2000200,10,0,0.0,POINT (-73.86381389361847 40.81293405229447),525710,Libby,15359150,1.0,1,1,2017-02-10,40.812934,-73.863814,2,"Private Room for 2, Community House NYC (2A)",Clason Point,Bronx,2,43,0.42,Private room,2,2
2,0,21855.0,1287.0,1,0,8.406552,2,2,336,0,2000200,10,0,0.0,POINT (-73.86370502873359 40.81359965937455),525710,Libby,15359306,1.0,1,1,2017-01-09,40.813600,-73.863705,1,King sized bed + futon in Large Private Room ...,Clason Point,Bronx,6,76,1.37,Private room,2,2

In [75]:
df.dtypes

Entire_home/apt                     int64
Median_income                     float64
Median_rent                       float64
Private_room                        int64
Shared_room                         int64
accesstosubway                    float64
agglomerative                       int64
agglomerativeCat                   object
availability_365                    int64
beer_count                          int64
boro_ct_2010                       object
calculated_host_listings_count      int64
coffee_count                        int64
connectivityScore                 float64
geometry                           object
host_id                             int64
host_name                          object
id                                 object
index_left                        float64
kmeans                              int64
kmeansCat                          object
last_review                        object
latitude                          float64
longitude                         float64
minimum_nights                      int64
name                               object
neighbourhood                      object
neighbourhood_group                object
number_of_reviews                   int64
price                               int64
reviews_per_month                 float64
room_type                          object
spectral                            int64
spectralCat                        object
dtype: object

## Inspecting data and cleaning

In [76]:
df.groupby(['agglomerativeCat']).count()

,Entire_home/apt,Median_income,Median_rent,Private_room,Shared_room,accesstosubway,agglomerative,availability_365,beer_count,boro_ct_2010,calculated_host_listings_count,coffee_count,connectivityScore,geometry,host_id,host_name,id,index_left,kmeans,kmeansCat,last_review,latitude,longitude,minimum_nights,name,neighbourhood,neighbourhood_group,number_of_reviews,price,reviews_per_month,room_type,spectral,spectralCat
agglomerativeCat,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
0,7782,7782,7734,7782,7782,7782,7782,7782,7782,7781,7782,7782,7782,7782,7782,7780,7782,7782,7782,7782,6034,7782,7782,7782,7782,7782,7782,7782,7782,6034,7782,7782,7782
1,6145,6145,6144,6145,6145,6145,6145,6145,6145,6144,6145,6145,6145,6145,6145,6138,6145,6145,6145,6145,4788,6145,6145,6145,6145,6145,6145,6145,6145,4788,6145,6145,6145
2,18472,18472,18471,18472,18472,18472,18472,18472,18472,18470,18472,18472,18472,18472,18472,18464,18472,18472,18472,18472,14346,18472,18472,18472,18471,18472,18472,18472,18472,14346,18472,18472,18472
3,3925,3925,3852,3925,3925,3925,3925,3925,3925,3925,3925,3925,3925,3925,3925,3924,3925,3925,3925,3925,3106,3925,3925,3925,3925,3925,3925,3925,3925,3106,3925,3925,3925

In [77]:
df.columns

Index([               u'Entire_home/apt',                  u'Median_income',
                          u'Median_rent',                   u'Private_room',
                          u'Shared_room',                 u'accesstosubway',
                        u'agglomerative',               u'agglomerativeCat',
                     u'availability_365',                     u'beer_count',
                         u'boro_ct_2010', u'calculated_host_listings_count',
                         u'coffee_count',              u'connectivityScore',
                             u'geometry',                        u'host_id',
                            u'host_name',                             u'id',
                           u'index_left',                         u'kmeans',
                            u'kmeansCat',                    u'last_review',
                             u'latitude',                      u'longitude',
                       u'minimum_nights',                           u'name',
                        u'neighbourhood',            u'neighbourhood_group',
                    u'number_of_reviews',                          u'price',
                    u'reviews_per_month',                      u'room_type',
                             u'spectral',                    u'spectralCat'],
      dtype='object')

In [78]:
df_1 = df[[ u'agglomerativeCat', u'Median_income',u'beer_count', u'coffee_count', u'connectivityScore', u'price']]
            #u'reviews_per_month']]

In [79]:
df_1.set_index(df['id'], inplace=True)
df_1 = df_1
df_1.describe()

,Median_income,beer_count,coffee_count,connectivityScore,price
count,36324.000000,36324.000000,36324.000000,36324.000000,36324.000000
mean,50235.823808,0.405600,6.242429,79.558997,128.687562
std,36489.584342,0.773165,7.359190,65.852461,84.574034
min,4291.000000,0.000000,0.000000,0.000000,10.000000
25%,23142.000000,0.000000,1.000000,37.000000,70.000000
50%,39357.000000,0.000000,3.000000,61.000000,100.000000
75%,66060.000000,1.000000,10.000000,100.000000,165.000000
max,340545.000000,5.000000,35.000000,396.000000,500.000000

In [80]:
df_1.dropna(inplace=True)

/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [81]:
df_1.groupby(['agglomerativeCat']).count()

,Median_income,beer_count,coffee_count,connectivityScore,price
agglomerativeCat,,,,,
0,7782,7782,7782,7782,7782
1,6145,6145,6145,6145,6145
2,18472,18472,18472,18472,18472
3,3925,3925,3925,3925,3925

## Splitting data

In [82]:
df_x = df_1.ix[:,1:]
df_y = df_1.ix[:,0]

In [83]:
df_y.head()

id
14880182    2
15359150    2
15359306    2
15244537    2
15346892    2
Name: agglomerativeCat, dtype: object

In [84]:
X = df_x.as_matrix()
Y = df_y.as_matrix()

## Normalize

In [85]:
#Xtmax = np.amax(X,axis=0)
#X = np.divide(X,Xtmax)

## Splitting to train and test (70:30)

In [86]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, train_size=0.7, random_state=3)
ts = Y_test.shape[0]

## Cross Validation

In [87]:
# --------------------
# Decision Tree Classifier
# --------------------
DTC_results = []
for j in range(100):
    clear_output()
    print j
    X_train, X_test, Y_train, Y_test = train_test_split(X, Y, train_size=0.7)
    ts = Y_test.shape[0]
    # Train
    dtc = DecisionTreeClassifier(max_depth=10)
    dtc.fit(X_train, Y_train)

    # Predicting
    dtc_pred = dtc.predict(X_test)

    # Finding mispredicted samples
    dtc_verror = np.asarray([int(dtc_pred[i] != Y_test[i]) for i in range(0,ts)])
    dtc_error = np.sum(dtc_verror)
    dtc_ccidx = np.where(dtc_verror == 0)
    dtc_mcidx = np.where(dtc_verror == 1)

    DTC_results.append(dtc_error/float(ts))

99

In [88]:
print ('miss-classified %age is ', (sum(DTC_results)/len(DTC_results)))

('miss-classified %age is ', 0.020136722334373282)

In [89]:
# --------------------
# Bagging Classifier
# --------------------
bagb_results = []
for j in range(100):
    clear_output()
    print j
    X_train, X_test, Y_train, Y_test = train_test_split(X, Y, train_size=0.7)
    ts = Y_test.shape[0]
    bagb = BaggingClassifier(DecisionTreeClassifier(max_depth=10), n_estimators=20)
#adab = AdaBoostClassifier(DecisionTreeClassifier(max_depth=2), n_estimators=20,learning_rate=1.5,algorithm="SAMME")
    bagb.fit(X_train,Y_train)

# Predicting
    bagb_pred = bagb.predict(X_test)

# Finding mispredicted samples
    bagb_verror = np.asarray([int(bagb_pred[i] != Y_test[i]) for i in range(0,ts)])
    bagb_error = np.sum(bagb_verror)
    bagb_ccidx = np.where(bagb_verror == 0)
    bagb_mcidx = np.where(bagb_verror == 1)

    bagb_results.append(bagb_error/float(ts))

99

In [90]:
print ('miss-classified %age is ', (sum(bagb_results)/len(bagb_results)))

('miss-classified %age is ', 0.015800146815929526)

In [91]:
# --------------------
# AdaBoost Classifier
# --------------------

adab_results = []
for j in range(100):
    clear_output()
    print j
    X_train, X_test, Y_train, Y_test = train_test_split(X, Y, train_size=0.7)
    ts = Y_test.shape[0]
    adab = AdaBoostClassifier(DecisionTreeClassifier(max_depth=10), n_estimators=20)
    #adab = AdaBoostClassifier(DecisionTreeClassifier(max_depth=10), n_estimators=20,learning_rate=1.2,algorithm="SAMME")
    adab.fit(X_train,Y_train)

    # Predicting
    adab_pred = adab.predict(X_test)

    # Finding mispredicted samples
    adab_verror = np.asarray([int(adab_pred[i] != Y_test[i]) for i in range(0,ts)])
    adab_error = np.sum(adab_verror)
    adab_ccidx = np.where(adab_verror == 0)
    adab_mcidx = np.where(adab_verror == 1)

    adab_results.append(adab_error/float(ts))

99

In [92]:
print ('miss-classified %age is ', (sum(adab_results)/len(adab_results)))

('miss-classified %age is ', 0.010763442833547439)

In [93]:
# --------------------
# Gradient Boosting Classifier
# --------------------
gradb_results = []
for j in range(100):
    clear_output()
    print j
    X_train, X_test, Y_train, Y_test = train_test_split(X, Y, train_size=0.7)
    ts = Y_test.shape[0]
    gradb = GradientBoostingClassifier(max_depth=10, n_estimators=20)
    gradb.fit(X_train,Y_train)

    # Predicting
    gradb_pred = gradb.predict(X_test)

    # Finding mispredicted samples
    gradb_verror = np.asarray([int(gradb_pred[i] != Y_test[i]) for i in range(0,ts)])
    gradb_error = np.sum(gradb_verror)
    gradb_ccidx = np.where(gradb_verror == 0)
    gradb_mcidx = np.where(gradb_verror == 1)


    gradb_results.append(gradb_error/float(ts))

99

In [94]:
print ('miss-classified %age is ', (sum(gradb_results)/len(gradb_results)))

('miss-classified %age is ', 0.014416406680124789)

In [95]:
# --------------------
# Random Forest Classifier
# --------------------
rdf_results = []
for j in range(100):
    clear_output()
    print j
    X_train, X_test, Y_train, Y_test = train_test_split(X, Y, train_size=0.7)
    ts = Y_test.shape[0]
    rdf = RandomForestClassifier(max_depth=10, n_estimators=20)
    rdf.fit(X_train,Y_train)

    # Predicting
    rdf_pred = rdf.predict(X_test)

    # Finding mispredicted samples
    rdf_verror = np.asarray([int(rdf_pred[i] != Y_test[i]) for i in range(0,ts)])
    rdf_error = np.sum(rdf_verror)
    rdf_ccidx = np.where(rdf_verror == 0)
    rdf_mcidx = np.where(rdf_verror == 1)

    rdf_results.append(rdf_error/float(ts))

99

In [96]:
print ('miss-classified %age is ', (sum(rdf_results)/len(rdf_results)))

('miss-classified %age is ', 0.016435125711139649)

In [99]:
# --------------------
# Naive Bayes Classifier
# --------------------
nb_results = []
for i in range(100):
    clear_output()
    print i
    
    X_train, X_test, Y_train, Y_test = train_test_split(X, Y, train_size=0.7)
    ts = Y_test.shape[0]
    nb = naive_bayes.GaussianNB()
    nb.fit(X_train,Y_train)
    
    # Predicting
    nb_pred = nb.predict(X_test)
    
    # Finding mispredicted samples
    nb_verror = np.asarray([int(nb_pred[i] != Y_test[i]) for i in range(0,ts)])
    nb_error = np.sum(nb_verror)
    nb_ccidx = np.where(nb_verror == 0)
    nb_mcidx = np.where(nb_verror == 1)

    nb_results.append(nb_error/float(ts))

99

In [100]:
print ('misclassified %age for Decision Tree is ', (sum(DTC_results)/len(DTC_results))*100, '%')
print ('misclassified %age for bagging is ', (sum(bagb_results)/len(bagb_results))*100, '%')
print ('misclassified %age for adaboost is ', (sum(adab_results)/len(adab_results))*100, '%')
print ('misclassified %age for gradiant boosting is ', (sum(gradb_results)/len(gradb_results))*100, '%')
print ('misclassified %age for Random Forest is ', (sum(rdf_results)/len(rdf_results))*100, '%')
print ('misclassified %age for Navie Bayes is ', (sum(nb_results)/len(nb_results))*100, '%')

('misclassified %age for Decision Tree is ', 2.0136722334373283, '%')
('misclassified %age for bagging is ', 1.5800146815929526, '%')
('misclassified %age for adaboost is ', 1.0763442833547439, '%')
('misclassified %age for gradiant boosting is ', 1.4416406680124789, '%')
('misclassified %age for Random Forest is ', 1.6435125711139649, '%')
('misclassified %age for Navie Bayes is ', 20.888328133602503, '%')

In [101]:
# --------------------
# Random Forest Classifier
# --------------------
for k in np.arange(1,20,1):
    rdf_results = []
    for j in range(20):
        
        X_train, X_test, Y_train, Y_test = train_test_split(X, Y, train_size=0.6,  random_state=3)
        rdf = RandomForestClassifier(max_depth=k, n_estimators=20)
        ts = Y_test.shape[0]
        rdf.fit(X_train,Y_train)

        # Predicting
        rdf_pred = rdf.predict(X_test)

        # Finding mispredicted samples
        rdf_verror = np.asarray([int(rdf_pred[i] != Y_test[i]) for i in range(0,ts)])
        rdf_error = np.sum(rdf_verror)
        rdf_ccidx = np.where(rdf_verror == 0)
        rdf_mcidx = np.where(rdf_verror == 1)

        rdf_results.append(rdf_error/float(ts))
    print 'max depth: ',k, ' Error:', round((sum(rdf_results)/len(rdf_results))*100,2),'%'

max depth:  1  Error: 32.71 %
max depth:  2  Error: 14.08 %
max depth:  3  Error: 10.11 %
max depth:  4  Error: 6.54 %
max depth:  5  Error: 4.58 %
max depth:  6  Error: 3.35 %
max depth:  7  Error: 2.61 %
max depth:  8  Error: 2.13 %
max depth:  9  Error: 1.92 %
max depth:  10  Error: 1.69 %
max depth:  11  Error: 1.5 %
max depth:  12  Error: 1.38 %
max depth:  13  Error: 1.33 %
max depth:  14  Error: 1.29 %
max depth:  15  Error: 1.27 %
max depth:  16  Error: 1.27 %
max depth:  17  Error: 1.27 %
max depth:  18  Error: 1.28 %
max depth:  19  Error: 1.26 %

In [68]:
# --------------------
# Random Forest Classifier
# --------------------
for k in np.arange(1,50,1):
    rdf_results = []
    for j in range(20):
        
        X_train, X_test, Y_train, Y_test = train_test_split(X, Y, train_size=0.6,  random_state=3)
        ts = Y_test.shape[0]
        rdf = RandomForestClassifier(max_depth=8, n_estimators=k)
        rdf.fit(X_train,Y_train)

        # Predicting
        rdf_pred = rdf.predict(X_test)

        # Finding mispredicted samples
        rdf_verror = np.asarray([int(rdf_pred[i] != Y_test[i]) for i in range(0,ts)])
        rdf_error = np.sum(rdf_verror)
        rdf_ccidx = np.where(rdf_verror == 0)
        rdf_mcidx = np.where(rdf_verror == 1)

        rdf_results.append(rdf_error/float(ts))
    print 'n_estimators: ',k, ' Error:', round((sum(rdf_results)/len(rdf_results))*100,2),'%'

n_estimators:  1  Error: 4.56 %
n_estimators:  2  Error: 3.41 %
n_estimators:  3  Error: 2.94 %
n_estimators:  4  Error: 2.73 %
n_estimators:  5  Error: 2.56 %
n_estimators:  6  Error: 2.48 %
n_estimators:  7  Error: 2.37 %
n_estimators:  8  Error: 2.39 %
n_estimators:  9  Error: 2.33 %
n_estimators:  10  Error: 2.32 %
n_estimators:  11  Error: 2.29 %
n_estimators:  12  Error: 2.22 %
n_estimators:  13  Error: 2.26 %
n_estimators:  14  Error: 2.22 %
n_estimators:  15  Error: 2.23 %
n_estimators:  16  Error: 2.23 %
n_estimators:  17  Error: 2.21 %
n_estimators:  18  Error: 2.2 %
n_estimators:  19  Error: 2.17 %
n_estimators:  20  Error: 2.18 %
n_estimators:  21  Error: 2.17 %
n_estimators:  22  Error: 2.16 %
n_estimators:  23  Error: 2.15 %
n_estimators:  24  Error: 2.17 %
n_estimators:  25  Error: 2.17 %
n_estimators:  26  Error: 2.16 %
n_estimators:  27  Error: 2.14 %
n_estimators:  28  Error: 2.16 %
n_estimators:  29  Error: 2.12 %
n_estimators:  30  Error: 2.16 %
n_estimators:  31  Error: 2.13 %
n_estimators:  32  Error: 2.12 %
n_estimators:  33  Error: 2.13 %
n_estimators:  34  Error: 2.16 %
n_estimators:  35  Error: 2.14 %
n_estimators:  36  Error: 2.11 %
n_estimators:  37  Error: 2.14 %
n_estimators:  38  Error: 2.12 %
n_estimators:  39  Error: 2.11 %
n_estimators:  40  Error: 2.11 %
n_estimators:  41  Error: 2.09 %
n_estimators:  42  Error: 2.11 %
n_estimators:  43  Error: 2.1 %
n_estimators:  44  Error: 2.11 %
n_estimators:  45  Error: 2.1 %
n_estimators:  46  Error: 2.1 %
n_estimators:  47  Error: 2.08 %
n_estimators:  48  Error: 2.11 %
n_estimators:  49  Error: 2.1 %

In [103]:
# --------------------
# Random Forest Classifier
# --------------------
rdf_results = []
for j in range(100):
    clear_output()
    print j
    X_train, X_test, Y_train, Y_test = train_test_split(X, Y, train_size=0.7, random_state=3)
    ts = Y_test.shape[0]
    rdf = RandomForestClassifier(max_depth=15, n_estimators=41)
    rdf.fit(X_train,Y_train)

    # Predicting
    rdf_pred = rdf.predict(X_test)

    # Finding mispredicted samples
    rdf_verror = np.asarray([int(rdf_pred[i] != Y_test[i]) for i in range(0,ts)])
    rdf_error = np.sum(rdf_verror)
    rdf_ccidx = np.where(rdf_verror == 0)
    rdf_mcidx = np.where(rdf_verror == 1)

    rdf_results.append(rdf_error/float(ts))

print 'miss-classified %age is ', (sum(rdf_results)/len(rdf_results))

99
miss-classified %age is  0.0104321893925