In [1]:
from __future__ import print_function, division
import pandas as pd
import pylab as pl
import os
import csv
from pandas.tools.plotting import scatter_matrix
import sys
reload(sys)
import zipfile
import geopandas as gpd
import json
sys.setdefaultencoding('utf-8')
%pylab inline

In [2]:
df_rein = pd.read_csv('Data/nyc_social.csv')
df_rein.head()

,Unnamed: 0,GEO.id,GEO.id2,GEO.display-label,Median_rent,geometry,Median_income
0,0,Id,Id2,Geography,Estimate; Median gross rent,NaN,Estimate; Per capita income in the past 12 mon...
1,1,1500000US360050001000,360050001000,"Block Group 0, Census Tract 1, Bronx County, N...",NaN,"POLYGON ((-73.892504 40.801206, -73.872264 40....",NaN
2,2,1500000US360050001001,360050001001,"Block Group 1, Census Tract 1, Bronx County, N...",NaN,"POLYGON ((-73.892866 40.790567, -73.89039 40.7...",2440
3,3,1500000US360050002000,360050002000,"Block Group 0, Census Tract 2, Bronx County, N...",NaN,"POLYGON ((-73.86270399999999 40.797276, -73.86...",NaN
4,4,1500000US360050002001,360050002001,"Block Group 1, Census Tract 2, Bronx County, N...",1557,"POLYGON ((-73.85772 40.813362, -73.85913699999...",20931

In [3]:
df_rein.dropna(inplace=True)

In [4]:
df_rein.head()

,Unnamed: 0,GEO.id,GEO.id2,GEO.display-label,Median_rent,geometry,Median_income
4,4,1500000US360050002001,360050002001,"Block Group 1, Census Tract 2, Bronx County, N...",1557,"POLYGON ((-73.85772 40.813362, -73.85913699999...",20931
5,5,1500000US360050002002,360050002002,"Block Group 2, Census Tract 2, Bronx County, N...",1287,"POLYGON ((-73.85913699999999 40.813171, -73.85...",21855
6,6,1500000US360050002003,360050002003,"Block Group 3, Census Tract 2, Bronx County, N...",1243,"POLYGON ((-73.855312 40.809329, -73.854417 40....",24709
8,8,1500000US360050004001,360050004001,"Block Group 1, Census Tract 4, Bronx County, N...",1543,"POLYGON ((-73.856291 40.813555, -73.8556179999...",15411
9,9,1500000US360050004002,360050004002,"Block Group 2, Census Tract 4, Bronx County, N...",1411,"POLYGON ((-73.85561799999999 40.810608, -73.85...",18834

In [5]:
df_rein.reset_index(inplace=True)

In [6]:
from geopandas import GeoDataFrame
df_rein = GeoDataFrame(df_rein, geometry= df_rein.geometry)

TypeError: Input geometry column must contain valid geometry objects.

In [ ]:
gdf = gpd.GeoDataFrame.from_file('Data/NYClisting.geojson')
gdf.head()

In [ ]:
fin = gpd.sjoin(gdf, df_rein, how="inner", op='intersects')
fin